// DEFAULT SETUP

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

html {
    // @include mq(1920px) {}//default 16px

    // @include mq(2560px) {
    //     font-size: calc(16 * 100 / (1920 * 100 / 2560)) + px; //2k
    // }
    // @include mq(3840px) {
    //     font-size: calc(16 * 100 / (1920 * 100 / 3840)) + px; //4k
    // }
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: Ebrima, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// DISPLAYS

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-weight: 300;
    line-height: 1.2;
    color: color(dark);
    font-family: Raleway;
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: bold;
    text-transform: uppercase;
}
.display-2 {
    font-size: calc(1.575rem + 2vw);
    font-weight: 600;
    text-transform: capitalize;
}
.display-3 {
    font-size: calc(1.525rem + 3.3vw);
}
.display-4 {
    font-size: calc(1.475rem + 2.7vw);
}
.display-5 {
    font-size: calc(1.425rem + 2.1vw);
}
.display-6 {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 576px) {
    .display-1 {
        font-size: 40px;
    }
    .display-2 {
        font-size: 35px;
    }
}
@media (min-width: 1200px) {
    .display-1 {
        font-size: 55px;
    }
    .display-2 {
        font-size: 48px;
    }
    .display-3 {
        font-size: 4rem;
    }
    .display-4 {
        font-size: 3.5rem;
    }
    .display-5 {
        font-size: 3rem;
    }
    .display-6 {
        font-size: 2.5rem;
    }
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: color(dark);
}

img {
    max-width: 100%;
}

// CONTAINERS

.container,
.container-fluid {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

@include mq(768px) {
    .container,
    .container-fluid {
        padding-right: 50px;
        padding-left: 50px;
    }
}

.container {
    @include mq(576px) {
        max-width: 540px; // 36
    }
    @include mq(768px) {
        max-width: 720px; // 48
    }
    @include mq(992px) {
        max-width: 960px; // 32
    }
    @include mq(1200px) {
        max-width: calc(1140px + 30px * 2); // 60
    }
    @include mq(1400px) {
        max-width: calc(1360px + 30px * 2); // 80
    }
    // @include mq(1920px) {
    //     max-width: mw(xl); //full hd
    // }
    // @include mq(2560px) {
    //     max-width: 2400px; //2k
    // }
    // @include mq(3840px) {
    //     max-width: 3700px; //4k
    // }
}

// BORDERS

.border {
    border: 1px solid color(dark);
    &-primary {
        border-color: color(primary);
    }
}

// LINK

.link {
    &-primary,
    &-secondary,
    &-success,
    &-warning,
    &-danger,
    &-dark {
        text-decoration-line: underline;
        &:hover {
            text-decoration-color: inherit;
        }
        &[underline="hover"] {
            text-decoration-line: none;
            &:hover {
                text-decoration-line: underline;
            }
        }
        &[underline="always"] {
            text-decoration-color: inherit;
            text-decoration-color: currentColor;
        }
        &[underline="none"] {
            text-decoration-line: none;
        }
    }
    &-primary {
        color: color(primary);
        text-decoration-color: color(primary, 0.4);
    }
    &-secondary {
        color: color(secondary);
        text-decoration-color: color(secondary, 0.4);
    }
    &-success {
        color: color(success);
        text-decoration-color: color(success, 0.4);
    }
    &-warning {
        color: color(warning);
        text-decoration-color: color(warning, 0.4);
    }
    &-danger {
        color: color(danger);
        text-decoration-color: color(danger, 0.4);
    }
    &-dark {
        color: color(dark);
        text-decoration-color: color(dark, 0.4);
    }
}

// TEXTS

.text {
    &-secondary {
        color: color(secondary);
    }
    &-warning {
        color: color(warning);
    }
}

//  BACKGROUNDS
.bg {
    &-dark {
        background-color: color(dark);
    }
    &-light {
        background-color: color(light);
    }
    &-primary {
        background-color: color(primary);
    }
    &-secondary {
        background: color(secondary);
    }
    &-warning {
        background: color(warning);
    }
}

// BORDER RADIUS

.rounded {
    &-circle {
        padding: 0;
        border-radius: 50% !important;
        width: 60px !important;
        height: 60px !important;
        min-width: auto !important;
        position: relative;
        border-width: 2px !important;
        @include df;
        svg {
            width: 15px !important;
            height: auto;
        }
    }
    &-pill {
        border-radius: 50rem !important;
    }
}

// DISPLAY

.d {
    &-none {
        display: none !important;
    }
    &-block {
        display: block !important;
        width: 100%; //button tags not extending
    }
    &-flex {
        display: flex !important;
    }
}

// BADGE

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

// CONDITIONAL

section {
    padding: 3rem 0;
}

@include mq(992px) {
    section {
        padding: 4rem 0;
    }
}

.with-hat {
    position: relative;
    display: inline-block;
    .startIcon {
        position: absolute;
        top: -17px;
        left: -20px;
        @include mq(576px) {
            left: -34px;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
    min-width: 100px;
}

//   =========== COLLAPSE
.collapse:not(.show) {
    display: none;
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.accordion {
    width: 100%;
    &-item {
        background-color: rgba(229, 225, 225, 1);
        border-radius: 10px;
        overflow: hidden;
        &:not(:last-of-type) {
            margin-bottom: 1.3rem;
        }
    }
    &-button {
        padding: 23px 30px;
        cursor: pointer;
        border: none;
        background: none;
        width: 100%;
        display: flex;
        gap: 2rem;
        text-align: left;
        // align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 600;
        font-family: Raleway;
        &.collapsed {
            img {
                transform: rotateZ(90deg);
            }
        }
        .endIcon {
            display: block;
            width: 35px;
        }
        img {
            transform: rotateZ(-90deg);
            height: 25px;
            width: 25px;
            object-fit: contain;
            transition: transform 0.3s ease;
        }
    }
    &-body {
        min-height: 75px;
        margin-bottom: 2rem;
        padding: 0 30px;
        font-size: 18px;
        font-family: Ebrima;
        color: color(secondary);
        max-width: 600px;
    }
}
