@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

// RALEWAY

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-Black.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway/Raleway-Thin.woff2') format('woff2'),
        url('../assets/fonts/Raleway/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

// ================================ EBRIMA

@font-face {
    font-family: 'Ebrima';
    src: url('../assets/fonts/Ebrima/Ebrima.woff2') format('woff2'),
        url('../assets/fonts/Ebrima/Ebrima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ebrima';
    src: url('../assets/fonts/Ebrima/Ebrima-Bold.woff2') format('woff2'),
        url('../assets/fonts/Ebrima/Ebrima-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// ===================== NOWALT 

@font-face {
    font-family: 'Now Alt';
    src: url('../assets/fonts/NowAlt/NowAlt-Bold.woff2') format('woff2'),
        url('../assets/fonts/NowAlt/NowAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('../assets/fonts/NowAlt/NowAlt-Regular.woff2') format('woff2'),
        url('../assets/fonts/NowAlt/NowAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('../assets/fonts/NowAlt/NowAlt-Medium.woff2') format('woff2'),
        url('../assets/fonts/NowAlt/NowAlt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('../assets/fonts/NowAlt/NowAlt-Light.woff2') format('woff2'),
        url('../assets/fonts/NowAlt/NowAlt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('../assets/fonts/NowAlt/NowAlt-Black.woff2') format('woff2'),
        url('../assets/fonts/NowAlt/NowAlt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('../assets/fonts/NowAlt/NowAlt-Thin.woff2') format('woff2'),
        url('../assets/fonts/NowAlt/NowAlt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

