.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: color(primary);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: rgba(35, 35, 35, 1);

    & > .container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
    }

    // &-toggler {
    //     padding: 0.25rem 0.75rem;
    //     font-size: 1.25rem;
    //     line-height: 1;
    //     background-color: transparent;
    //     border: 1px solid transparent;
    //     border-radius: 0.25rem;
    //     color: #fff;
    //     // transition: box-shadow 0.15s ease-in-out;

    //     &:focus {
    //         text-decoration: none;
    //         outline: 0;
    //         box-shadow: 0 0 0 0.25rem;
    //     }
    //     &-icon {
    //         width: 1.2rem;
    //         display: block;
    //     }
    //     path {
    //         fill: currentColor;
    //     }
    // }
    &-toggler {
        width: 30px;
        height: 30px;
        background: transparent;
        border: 0;
        cursor: pointer;

        span {
            height: 2px;
            width: 100%;
            display: block;
            background: color(warning);
            margin: 6px 0;
        }

        span:nth-child(1),
        span:nth-child(2),
        span:nth-last-child(1) {
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }
        &.collapsed span:nth-child(1) {
            transform: translate3d(6px, 6px, 0) rotate(45deg);
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }
        &.collapsed span:nth-child(2) {
            opacity: 0;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }
        &.collapsed span:nth-last-child(1) {
            transform: translate3d(6px, -10px, 0) rotate(-45deg);
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
        }
    }

    &-brand {
        margin-right: 1rem;

        position: relative;
        height: 0;
    
        width: 50px;
        padding-top: 50px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: transform 0.8s ease, opacity 0.8s ease;
        }
        .logo {
            opacity: 0;
        }
        .logo-sm {
            opacity: 1;
          
        }
    }

    &-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        // flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        background-color: rgba(35, 35, 35, 1);
        .wrapper {
            flex: 1;
        }
    }

    &-nav {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-right: auto;
        margin-bottom: 2rem;
        .nav-item {
            &:last-of-type {
                .nav-link {
                    text-transform: uppercase;
                }
            }
        }
        .nav-link {
            padding-left: 0;
            padding-right: 0;
            font-size: 20px;
            text-transform: capitalize;
            color: #fff;
            white-space: nowrap;
            display: inline-block;
            font-family: 'Now Alt';
            &:hover {
                color: color(warning);
            }
        }
    }
    .info {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 50px;
        padding: 16px 30px;
        gap: 1.3rem;
        margin-bottom: 1.7rem;
       
        img {
            height: 15px;
            width: 15px;
            object-fit: contain;
            margin-right: 0.5rem;
        }

        a {
            line-height: 1;
            display: inline-flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            font-family: Ebrima;
            white-space: nowrap;
            overflow: hidden;
            flex: 1;
            &:last-of-type {
                margin-left: auto;
            }
        }
    }
    &-search {
        position: relative;
        margin-bottom: 1rem;
        overflow: hidden;
        border-radius: 50px;
        align-self: flex-start;
        transition: transform 0.3s ease;
        .btn {
            position: absolute;
            top: 0;
            left: 0;
            min-width: auto;
            padding: 6px 16px;
            height: 100%;
        }
        .form-control {
            border-radius: 50px;
            margin-right: 5px;
            padding-left: 65px;
            font-size: 18px;
            line-height: 1;
            padding-top: 13px;
            padding-bottom: 13px;
            font-weight: 500;
            font-family: Ebrima;

            transition: max-width 0.3s ease;

            &::placeholder {
                font-size: 18px;
                font-weight: 500;
                font-family: Ebrima;
                line-height: 1;
            }
        }
    }
}

// .navbar {
//     &-dark {
//         .navbar {
//             &-brand {
//                 color: #fff;
//             }
//             &-toggler {
//                 color: rgba(255, 255, 255, 0.55);
//                 border-color: rgba(255, 255, 255, 0.1);
//             }
//             &-nav {
//                 .nav-link {
//                     color: rgba(255, 255, 255, 0.55);
//                     &.active {
//                         color: rgb(255, 255, 255);
//                     }
//                 }
//             }
//         }
//     }
//     &-light {
//         .navbar {
//             &-brand {
//                 color: rgba(0, 0, 0, 0.9);
//             }
//             &-toggler {
//                 color: rgba(0, 0, 0, 0.55);
//                 border-color: rgba(0, 0, 0, 0.1);
//             }
//             &-nav {
//                 .nav-link {
//                     color: rgba(0, 0, 0, 0.55);
//                     &.active {
//                         color: rgba(0, 0, 0, 0.9);
//                     }
//                 }
//             }
//         }
//     }
// }

.navbar-collapse:not(.collapsing) {
    height: auto !important;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
}

@media (min-width: 768px) {
    .navbar {
        .info {
           
            img {
                height: 20px;
                width: 20px;
            }
            a {
                flex: none;
                font-size: 18px;
            }
        }
    }
}
@media (min-width: 1280px) {
    .navbar-expand-lg {
        padding-top: 19px;
        padding-bottom: 19px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        transition: transform 0.3s ease;
        &.shrink {
            transform: translateY(-80px);
            .logo {
                opacity: 0 !important;
                transform: translateY(56px);
            }
            .logo-sm {
                opacity: 1 !important;
            }
            .navbar-search {
                transform: translateY(73px);
            }
        }
        .navbar {
            &-brand {
                width: 118px;
                padding-top: 118px;
                .logo {
                    opacity: 1;
                }
                .logo-sm {
                    width: 50% ;
                    height: 50% ;
                    left: 50%;
                    top: auto;
                    bottom: -8px;
                    transform: translateX(-50%);
                    opacity: 0;
                }
                
            }
            &-toggler {
                display: none;
            }
            &-nav {
                flex-direction: row;
                gap: 2.5rem;
                margin-bottom: 0;
                .nav-item {
                    &:last-of-type {
                        margin-left: auto;
                    }
                }
                .nav-link {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
            }

            &-search {
                margin-bottom: 0;
                // width: auto;
                .form-control {
                    max-width: 170px;
                    &:focus {
                        max-width: 250px;
                    }
                }
            }
            &-collapse {
                height: auto !important;
                display: flex !important;
                flex-basis: auto;

                position: static;
                width: auto;
                background-color: none;
            }
        }
    }
}

// DROPDOWN

.navbar-nav {
    .dropdown-menu {
        position: static;
    }
}

.dropdown {
    position: relative;
    overflow: hidden;
}

.drop:not(.show) {
    display: none;
    // height: 0;
    // padding: 0;
    // margin: 0;
    // opacity: 0;
    // transform: translateY(50px);
    // pointer-events: none;
}

// .dropping {
//     transition: opacity 0.3s ease, transform 0.3s ease;
//     transform: translateY(50px);
//     opacity: 0;
// }

.dropdown-menu {
    top: 100%;
    left: 0;
    margin-top: 0.125rem;

    position: absolute;
    z-index: 1000;
    // display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        .dropdown {
            overflow: visible;
        }
        .navbar-nav {
            .dropdown-menu {
                position: absolute;
            }
        }
    }
}
